In [1]:
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
train_df = pd.read_csv('Resources/train_u6lujuX_CVtuZ9i.csv')
test_df = pd.read_csv('Resources/test_Y3wMUE5_7gLdaTN.csv')

In [3]:
train_df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
test_df.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [5]:
train_df['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [6]:
train_df['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [7]:
columns_for_imputation = ['Credit_History', 'LoanAmount']

# Create a KNNImputer instance
imputer = KNNImputer(n_neighbors=5)

# Perform imputation on the selected columns
train_df_imputed = train_df.copy()  # Make a copy of the original DataFrame to preserve it
train_df_imputed[columns_for_imputation] = imputer.fit_transform(train_df[columns_for_imputation])

# Check for any remaining missing values after imputation
train_df_imputed.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
train_df_imputed['Credit_History'] = train_df_imputed['Credit_History'].round()

train_df_imputed['Credit_History'].value_counts()

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [9]:
train_df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [10]:
train_df_imputed['LoanAmount'].value_counts()

115.0    25
120.0    20
110.0    17
100.0    15
160.0    12
         ..
54.0      1
78.0      1
436.0     1
207.0     1
253.0     1
Name: LoanAmount, Length: 205, dtype: int64

In [11]:
train_df['LoanAmount'].value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64